@model AimsCarRentals.Models.ViewModel.BookingsViewModel
<style>
    .container {
        padding: 0 16px;
    }

        .container::after, .row::after {
            content: "";
            clear: both;
            display: table;
        }
</style>
<div class="container">
  @*  @if (ViewBag.Message = "Deleted Successfully")
    {
        <p style="color:dodgerblue;background-color:greenyellow"><h5>Login Successful</h5></p>
    }
    else
    {
        <p style="color:white;background-color:red"><h5>Invalid Login</h5></p>
    }*@
    <div>
        Are you sure you want to delete
        <div class="input-group">
            <a asp-action="Index" class="btn btn-dark">Cancel</a><br />
            <a asp-action="Delete" class="btn btn-danger">Delete</a><br />
        </div>
    </div>
</div>