@model AimsCarRentals.Models.ViewModel.UpdateBranchViewModel
@{
    ViewData["Title"] = "Update Branch";
}
<div class="card header"><h3>Update Branch</h3></div>

<div class="container">
    <div class="card-body">
        <label for="uname"><b>Name</b></label>
        <input type="text" placeholder="Name" name="Name" required>
        <span asp-validation-for="Name"></span>

        <label for="psw"><b>Address</b></label>
        <input type="text" placeholder="Address" name="Address" required>
        <span asp-validation-for="Address"></span>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
