@model AimsCarRentals.Models.ViewModel.CreateBookingsViewModel
@{
    ViewData["Title"] = "BookCar";
}
<div class="card">

</div>
<div class="container">
    <form method="post">
        <div class="card">
            <div class="justify-content-center">
                <div class="justify-content-center">
                    <div class="card-header"><h2>PickUp Date And Time</h2></div>
                </div>
                <div class="card-body">
                    <div class="input-group">

                        <label>Pickup Date</label>
                        <div class="col-md-4">
                            <input asp-for="PickUpDate" class="form-control" placeholder="Pick-Up Date" />
                            <spa type="datetime" asp-validation-for="Booking_Date" class="text-danger"></spa><br>

                        </div>


                        <label>Return Date</label>
                        <div class="col-md-4">
                            <input asp-for="ReturnDate" class="form-control" placeholder="Return Date" />
                            <span asp-validation-for="ReturnDate" class="text-danger"></span><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="justify-content-between">
            <div>
                <button type="submit" class="btn btn-danger">Continue</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


