@model AimsCarRentals.Models.ViewModel.CreateCarViewModel


<form method="post" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <div class="border p-3">
        <div class="form-group row">
            <h2 class="text-info pl-3">Add A Car</h2>
        </div>

        <div class="col-8">
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Make"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Make" class="form-control" />
                    <span asp-validation-for="Make" class="text-danger"></span>
                </div>
            </div>
           
        </div>

        <div class="form-group row">
            <div class="col-4">
                <label asp-for="Price"></label>
            </div>
            <div class="col-8">
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>


            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="PlateNo"></label>
                </div>
                <div class="col-8">
                    <input asp-for="PlateNo" class="form-control" />
                    <span asp-validation-for="PlateNo" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-4">
                    <input type="file" name="files" asp-for="CarPictureUrl" multiple />
                    <span class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="CategoryId" class="control-label"></label>
            <select class="form-control" name="CategoryId" asp-items="@Model.CategoryList">
                <option disabled selected>--Select Category--</option>
            </select>
            <span asp-validation-for="CategoryId" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="BranchId" class="control-label"></label>
            <select class="form-control" name="LocationId" asp-items="@Model.BranchList">
                <option disabled selected>--Select Location--</option>
            </select>
            <span asp-validation-for="BranchId" class="text-danger"></span>
        </div>
        <br />
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>

</form>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
