@model AimsCarRentals.Models.ViewModel.CreateCarViewModel
@{ ViewData["Title"] = "Add Car"; }

<style>
    body {
        font-family: "Lato", sans-serif;
    }

    /* Fixed sidenav, full height */
    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: red;
        overflow-x: hidden;
        padding-top: 20px;
    }

        /* Style the sidenav links and the dropdown button */
        .sidenav a, .dropdown-btn {
            padding: 6px 8px 6px 16px;
            text-decoration: none;
            font-size: 20px;
            color: black;
            display: block;
            border: none;
            background: none;
            width: 100%;
            text-align: left;
            cursor: pointer;
            outline: none;
        }

            /* On mouse-over */
            .sidenav a:hover, .dropdown-btn:hover {
                color: #f1f1f1;
            }

    /* Main content */
    .main {
        margin-left: 200px; /* Same as the width of the sidenav */
        font-size: 20px; /* Increased text to enable scrolling */
        padding: 0px 10px;
    }

    /* Add an active class to the active dropdown button */
    .active {
        background-color: green;
        color: white;
    }

    /* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
    .dropdown-container {
        display: none;
        background-color: white;
        padding-left: 8px;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2
    }
    /* Optional: Style the caret down icon */
    .fa-caret-down {
        float: right;
        padding-right: 8px;
    }


    .sidenav {
        padding-top: 15px;
    }

        .sidenav a {
            font-size: 18px;
        }
</style>

<body>
    <div class="sidenav">
        <a asp-controller="Bookings" asp-action="Index">Booking</a>
        <a asp-controller="Car" asp-action="Index">Car</a>
        <a asp-controller="Category" asp-action="Index">Categories</a>
        <a asp-controller="Branch" asp-action="Index">Branches</a>
        <a asp-controller="Auth" asp-action="Index">Users</a>
        <a asp-controller="Auth" asp-action="GetAllCustomers">Customers</a>
        <a asp-controller="Auth" asp-action="GetAllAdmins">Admins</a>
        <a asp-controller="Auth" asp-action="Logout">Logout</a>
    </div>
    <a asp-controller="Auth" asp-action="Logout">Logout</a>



    <script>
        /* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
        var dropdown = document.getElementsByClassName("dropdown-btn");
        var i;

        for (i = 0; i < dropdown.length; i++) {
            dropdown[i].addEventListener("click", function () {
                this.classList.toggle("active");
                var dropdownContent = this.nextElementSibling;
                if (dropdownContent.style.display === "block") {
                    dropdownContent.style.display = "none";
                } else {
                    dropdownContent.style.display = "block";
                }
            });
        }
    </script>

</body>
<div class="main">
   @* @if (ViewBag.Message = "Created Successfully")
    {
        <p style="color:dodgerblue;background-color:greenyellow"><h5> Car Added Successfully</h5></p>
    }
    else
    {
        <p style="color:white;background-color:red"><h5>Car Not Created</h5></p>
    }*@
    <div class="container">
        <form method="post" enctype="multipart/form-data">
            <input asp-for="Id" hidden />
            <div></div>
            <h2>Add A Car</h2>
            <div class="card-body">
                <div class="form-group row">
                    <div class="col-md-1">
                        <label asp-for="Name"></label>
                    </div>
                    <div class="col-md-4">
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-2">
                            <label asp-for="Make"></label>
                        </div>
                        <div class="col-md-8">
                            <input asp-for="Make" class="form-control" />
                            <span asp-validation-for="Make" class="text-danger"></span>
                        </div>
                    </div>

                    <div class="input-group">
                        <b><label>Price</label></b>
                        <div class="col-md-4">
                            <input asp-for="Price" class="form-control" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div>
                            <div class="form-group row">
                                <div class="col-md-4">
                                    <b>
                                        <label asp-for="PlateNo"></label>
                                    </b>
                                </div>
                                <div class="col-md-4">
                                    <input asp-for="PlateNo" class="form-control" />
                                    <span asp-validation-for="PlateNo" class="text-danger"></span>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="input-group">
                                <div class="form-group row">
                                    <div class="col-md-4">
                                        <b>
                                            <label asp-for="Description"></label>
                                        </b>
                                        <div class="col-md-8">
                                            <input asp-for="Description" class="form-control" />
                                            <span asp-validation-for="Description" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div>
                                        <div class="col-md-4">
                                            <b>
                                                <label>Image</label>
                                            </b>
                                            <div class="col-md-4">
                                                <input type="file" name="files" asp-for="CarPictureUrl" multiple />
                                                <span class="text-danger"></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="input-group">
                                        <div class="form-group">
                                            <label asp-for="CategoryId" class="control-label"></label>
                                            <select class="form-control" name="CategoryId" asp-items="@Model.CategoryList">
                                                <option disabled selected>--Select Category--</option>
                                            </select>
                                            <span asp-validation-for="CategoryId" class="text-danger"></span>
                                        </div><br /> &nbsp;
                                        <div class="form-group">
                                            <label asp-for="BranchId" class="control-label"></label>
                                            <select class="form-control" name="BranchId" asp-items="@Model.BranchList">
                                                <option disabled selected>--Select Location--</option>
                                            </select>
                                            <span asp-validation-for="BranchId" class="text-danger"></span>
                                        </div>
                                        <br />
                                    </div>
                                   
                                        <div class="form-group">
                                            <input type="submit" value="Create" class="btn btn-primary" />
                                        </div>
                                    
                                    &nbsp;
                                    <div>
                                        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
    <!DOCTYPE html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>
            .alert {
                padding: 20px;
                background-color: #f44336;
                color: white;
                opacity: 1;
                transition: opacity 0.6s;
                margin-bottom: 15px;
            }

                .alert.success {
                    background-color: #4CAF50;
                }

                .alert.info {
                    background-color: #2196F3;
                }

                .alert.warning {
                    background-color: #ff9800;
                }

            .closebtn {
                margin-left: 15px;
                color: white;
                font-weight: bold;
                float: right;
                font-size: 22px;
                line-height: 20px;
                cursor: pointer;
                transition: 0.3s;
            }

                .closebtn:hover {
                    color: black;
                }
        </style>
    </head>
    @*<body>

        <h2>Alert Messages</h2>
        <p>Click on the "x" symbol to close the alert message.</p>
        <div class="alert">
            <span class="closebtn">&times;</span>
            <strong>Danger!</strong> Indicates a dangerous or potentially negative action.
        </div>


        <div class="alert info">
            <span class="closebtn">&times;</span>
            <strong>Info!</strong> Indicates a neutral informative change or action.
        </div>

        <div class="alert warning">
            <span class="closebtn">&times;</span>
            <strong>Warning!</strong> Indicates a warning that might need attention.
        </div>*@

    <script>
        var close = document.getElementsByClassName("closebtn");
        var i;

        for (i = 0; i < close.length; i++) {
            close[i].onclick = function () {
                var div = this.parentElement;
                div.style.opacity = "0";
                setTimeout(function () { div.style.display = "none"; }, 600);
            }
        }
    </script>


    <!-- Mirrored from www.w3schools.com/howto/tryit.asp?filename=tryhow_js_alerts by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 30 Jul 2018 02:09:43 GMT -->




    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
