@model AimsCarRentals.Models.ViewModel.CreateRoleViewModel
<div class="card header"><h3>Add Category</h3></div>

<div class="container">
    <div class="card-body">
        <label for="uname"><b>Name</b></label>
        <input type="text" placeholder="Name" name="Name" required>
        <span asp-validation-for="Name"></span>


        <button class="justify-content-between" type="submit">Create</button>
    </div>
    <button class="justify-content-between" type="submit">Create</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
