@model AimsCarRentals.Models.Role

<ul>
    <li>
        <label><b>Id</b></label>
        <h4> @Model.Id</h4>
    </li>
    <li>
        <label><b>Name</b></label>
        <h4> @Model.Name</h4>
    </li>
    <li>
        <label><b>Created At</b></label>
        <h4> @Model.CreatedAt</h4>
    </li>
</ul>
<a asp-controller="Home" asp-action="Index">Back To Home</a>