@model AimsCarRentals.Models.ViewModel.UpdateRoleViewModel
<div class="card header"><h3>Update Category</h3></div>

<div class="container">
  @*  @if (ViewBag.Message = "Updated Successfully")
    {
        <p style="color:dodgerblue;background-color:greenyellow"><h5>Updated Successfully</h5></p>
    }
    else
    {
        <p style="color:white;background-color:red"><h5>Not Updated</h5></p>
    }*@
    <div class="card-body">
        <label for="uname"><b>Name</b></label>
        <input type="text" placeholder="Name" name="Name" required>
        <span asp-validation-for="Name"></span>


        <button class="justify-content-between" type="submit">Update</button>
    </div>
    <button class="justify-content-between" type="submit">Update</button>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
